.swiffy-slider {
  height: 300px;
  border: 12px double rgb(199, 205, 24);
  padding: 10px;
  display: flex;
}
.header {
  border: 5px inset rgb(0, 0, 0);
  padding: 25px;
  margin: 20px;
  /* filter: blur( 1px); */
  text-shadow: 3px 3px 4px rgb(199, 205, 24);
  background: #E2AFE9;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-family: "Playwrite CU", cursive;
}
#drinkForm{
  border: 5px outset rgb(0, 0, 0);
  padding: 25px;
  margin: 20px;
  /* filter: blur( 1px); */
  text-shadow: 3px 3px 4px rgb(199, 205, 24);
  background: #E2AFE9;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-family: "Playwrite CU", cursive;
  padding: 5%;
  text-align: center;
}
#alcoholDropdown {
  font-family: "Playwrite CU", cursive;
  background-color: #FFFFFF;
  border: none;
  color: white;
  padding: 5px 100px;
  text-align: center;
  font-size: 16px;
  color: #000000;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
#ingredientDropdown {
  font-family: "Playwrite CU", cursive;
  background-color: #FFFFFF;
  border: none;
  color: white;
  padding: 5px 100px;
  text-align: center;
  font-size: 16px;
  color: #000000;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
#submitBtn {
  font-family: "Playwrite CU", cursive;
  background-color: #FFFFFF;
  border: none;
  color: white;
  padding: 5px 24px;
  text-align: center;
  font-size: 16px;
  color: #000000;
  color: black;
  border: 2px solid #555555;
}
body{
  background-color: rgb(255, 127, 127);
}